<div class="panel panel-default panel-reset">

  <div class="panel-heading">
    <h4>Password Reset</h4>
  </div>

  <div class="panel-body panel-body-reset">
    {{#if resetEmail}}
      {{alert-message display=isUnknownError type="danger"}}

      <div class="row">
        <div class="col-md-7">
          {{form/bootstrap-input type="password" value=password label="Password" tag="input-password" required="true"}}
          {{form/bootstrap-input type="password" value=passwordConfirm label="Password Confirmation" tag="input-password-confirm" required="true"}}
        </div>
        <div class="col-md-5">
          {{#form/validation-tip isValid=isValidPassword class="validation-tip-reset-password"}}Must be a valid password{{/form/validation-tip}}
          <ul>
              {{#form/validation-tip isValid=isValidPasswordLength tagName='li'}}Must be more than 6 characters{{/form/validation-tip}}
              {{#form/validation-tip isValid=isValidPasswordAlphaNumeric tagName='li'}}Must have a number{{/form/validation-tip}}
              {{#form/validation-tip isValid=isValidPasswordCasing tagName='li'}}Must have lowercase and uppercase{{/form/validation-tip}}
              {{#form/validation-tip isValid=isValidPasswordMatch tagName='li'}}Passwords must match{{/form/validation-tip}}
          </ul>
        </div>
      </div>

    {{else}}
        {{alert-message display=isUnknownError type="danger"}}
        {{#alert-message display=isInvalidCode type="danger"}}
          <p>The reset code seems to be invalid.</p>
          <p>Please use the link below to try again.</p>
        {{/alert-message}}
        {{#alert-message display=isPasswordResetSuccess type="success"}}
          <p>Success!  A password reset link was emailed to you.</p>
        {{/alert-message}}

    {{/if}}

  </div>

  <div class="panel-footer">
    <div style="">
      {{#if resetEmail}}
        <button type="button" class="btn" {{action "resetPassword"}} disabled={{isInvalidForm}} id="reset-password"> Reset Password </button>
      {{else}}
        <button type="button" class="btn" {{action "sendToReset"}} id="reset-resend"> Send Password Reset Email </button>
      {{/if}}
      <div class="reset-spinner hide">
        {{fa-icon "spinner" spin=true size=2}}
      </div>

    </div>
    <div class="clearfix" />

  </div>
</div>
