
<div class="panel panel-default panel-join-team-page">

  <div class="panel-heading" >
    <h4 style="display:inline-block;">
      Team Selection <small>{{currentSeason.name}}</small>
    </h4>
  </div> {{!-- <div class="panel-heading" > --}}

  <div class="panel-body">
    {{#unless waiverSigned}}
      {{#alert-message display=true  type="info"}}
        It looks like you haven't registered yet. You can register
        {{#link-to 'secure.player.register'}}
          <a href="#" target="_top">here</a>
        {{/link-to}}
      {{/alert-message}}
    {{else}}
      {{#if currentTeam}}
        {{#alert-message display=true  type="success"}}
          You have joined team {{currentTeam.teamName}}!
        {{/alert-message}}
      {{else}}
        {{#each teams as |team|}}
          <div class="panel panel-primary panel-team">
            <div class="panel-heading">
              <h5 style="display:inline-block;">
                {{team.teamName}}
              </h5>
              <div class="pull-right join-team-button">
                <button type="button" class="btn btn-sm btn-success" {{action "joinTeam" team}}>Join Team {{fa-icon "angle-right"}}</button>
              </div>
            </div>
            <div class="panel-body">
              <div class="col-md-6 col-xs-12">
                <label for="captainFullName" class="col-md-5 col-xs-6 control-label">Team Captain: </label>
                <div id="captainFullName" class="col-md-7 col-xs-6">
                  {{team.captainFullName}}
                </div>
              </div>
              <div class="col-md-6 col-xs-12">
                <label for="teamColor" class="col-md-5 col-xs-6 control-label">Team Color: </label>
                <div id="teamColor" class="col-md-7 col-xs-6">
                  {{team.teamColor}}
                </div>
              </div>
            </div>
          </div>
        {{/each}}
      {{/if}}
    {{/unless}}
  </div>

  <div class="panel-footer" />
</div>
