

<!-- Sidebar Links -->
<ul class="nav navbar-inverse">
    <li class="nav-header">Player</li>
      <li class="active"><a href="#">{{fa-icon "tachometer" fixedWidth=true}} <span class="nav-item-title">Dashboard</span></a></li>
      <li><a href="#">{{fa-icon "id-card" fixedWidth=true}} <span class="nav-item-title">Register</span></a></li>
      <li><a href="#">{{fa-icon "users" fixedWidth=true}} <span class="nav-item-title">Join a Team</span></a></li>


    {{!-- <li><!-- Link with dropdown items -->
        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">
          Register
          {{fa-icon "caret-right"}}
          {{fa-icon "caret-down"}}
        </a>
        <ul class="collapse nav navbar-inverse" id="homeSubmenu">
            <li><a href="#">Sign Waiver</a></li>
            <li><a href="#">Pay Season Fee</a></li>
            <li><a href="#">Join a Team</a></li>
        </ul>
    </li> --}}
</ul>
<ul class="nav navbar-inverse nav-footer">
    <li class="nav-header">User</li>
      <li><a href="#">{{fa-icon "user" fixedWidth=true}} <span class="nav-item-title">Edit Profile</span></a></li>
</ul>
