

<!-- Sidebar Links -->
<ul class="nav navbar-inverse">
    <li class="nav-header">Player</li>
    <li class="active"><a href="#">{{fa-icon "tachometer" fixedWidth=true}} Dashboard</a></li>

    <li><a href="#">{{fa-icon "id-card" fixedWidth=true}} Register</a></li>
    <li><a href="#">{{fa-icon "users" fixedWidth=true}} Join a Team</a></li>

    {{!-- <li><!-- Link with dropdown items -->
        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">
          Register
          {{fa-icon "caret-right"}}
          {{fa-icon "caret-down"}}
        </a>
        <ul class="collapse nav navbar-inverse" id="homeSubmenu">
            <li><a href="#">Sign Waiver</a></li>
            <li><a href="#">Pay Season Fee</a></li>
            <li><a href="#">Join a Team</a></li>
        </ul>
    </li> --}}
</ul>
