<div class="panel-group">

  <div class="panel panel-default edit-table-panel">
    <div class="panel-heading">
      <h4 style="display:inline;">{{title}} <small> Click on a Row to Edit</small></h4>
      {{#if showAddButton}}
        <button class="btn btn-success btn-sm pull-right" {{action 'addItem'}}>Add a New Record</button>
      {{/if}}
      <div class="clearfix" />
    </div>
    <div class="panel-body">
      <table id={{tableId}}
            class="table table-striped table-hover"
            cellspacing="0"
            width="100%"
      >
        <thead>
          <tr class="bg-dark">
            {{#each modelStructure as |structure|}}
              <th>
                {{structure.displayName}}
              </th>
            {{/each}}

              {{!-- delete column --}}
              <th />
          </tr>

        </thead>
        <tbody>
          {{#if model.isUpdating}}
            <td colspan="{{add modelStructure.length 1}}" class="center-container">
              {{fa-icon "spinner" spin=true size=3}}
            </td>
          {{else}}
            {{#each model as |item|}}

              {{#if item.isEditing}}
                <tr id={{item.id}}>
                  {{#each modelStructure as |structure|}}
                    <td width={{structure.columnWidth}} data-order={{get item structure.propertyName}} data-search={{get item structure.propertyName}}>

                        {{!-- using bootstrap-input component to help dynamically build/style everything (including masking) --}}
                        {{#if (eq structure.propertyType "select")}}
                          {{#form/bootstrap-input type="select" value=(get item structure.propertyName)}}
                            {{#each structure.selectItems as |option|}}
                                {{form/bootstrap-select-option optionValue=option selectedValue=(get item structure.propertyName)}}
                            {{/each}}
                          {{/form/bootstrap-input}}
                        {{else}}
                          {{form/bootstrap-input class="edit-table-input" type=structure.propertyType value=(get item structure.propertyName) mask=structure.propertyMask maskedValue=(eq structure.propertyType "date") disabled=structure.disabled}}
                        {{/if}}

                    </td>
                  {{/each}}

                  {{!-- delete column --}}
                  <td />
                </tr>
                <tr>
                    <td colspan="{{add modelStructure.length 1}}">
                      <div class="pull-right">
                        <button class="btn btn-success btn-sm" {{action 'saveItem' item}}>Save</button>
                        <button class="btn btn-danger btn-sm" {{action 'cancelEditItem' item}}>Cancel</button>
                      </div>
                    </td>
                </tr>

              {{else}} {{!-- not editing --}}
                <tr id={{item.id}} {{action "editItem" item}}>
                  {{#each modelStructure as |structure|}}
                    <td width={{structure.columnWidth}} data-order={{get item structure.propertyName}} data-search={{get item structure.propertyName}}>
                      {{!-- using custom format helper to format the value given a value, type, and format
                      pulling the value dynamically from each item using the defined property name --}}
                      <span data-toggle="tooltip" title={{edit-table-format (get item structure.propertyName) structure.propertyType structure.propertyFormat structure.parseAsDate}}>
                        {{edit-table-format (get item structure.propertyName) structure.propertyType structure.propertyFormat structure.parseAsDate}}
                      </span>
                    </td>
                  {{/each}}

                    {{!-- delete column --}}
                    <td>
                      <span {{action "deleteItem" item bubbles=false}}>{{fa-icon "times" fixedWidth=true class="text-danger fa-delete"}}</span>
                    </td>
                </tr>
              {{/if}}
            {{/each}}
          {{/if}}
        </tbody>
        <tfoot>

        </tfoot>
      </table>
  </div>
  </div>
</div>
